<ul>
<h1> BLOG </h1>
    <% @blogs.each do |blog| %>
        <li>
            <%= link_to blog.title, blog_path(blog) %>
        </li>
    <% end%>
    <br>
    <%= link_to 'Create Blog', new_blog_path %>    
</ul>