body {
    background-color: rgb(43, 43, 43);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#home-pic {
    height: 300px;
    border-radius: 25px;
}


ul {
    list-style: none;
    align-items: center;
    flex-direction: column;
    display: flex;

}

li {
    margin: 20px
}

a {
    color: black;
    text-decoration: none;
    border: solid rgb(255, 255, 255) 2px;
    background-color: hsla(0, 0%, 100%, 0.8);
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

a:hover {
    background-color: white;;
}

a:active {
    background-color: rgb(177, 177, 177);
    box-shadow: 0px 7px 5px rgb(0, 0, 0);
}

button {
    color: black;
    text-decoration: none;
    border: solid rgb(255, 255, 255) 2px;
    background-color: hsla(0, 0%, 100%, 0.8);
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    margin: 15px 0 15px 0;
}

button:hover {
    background-color: red;
    color: white;
}

.button {
    color: black;
    text-decoration: none;
    border: solid rgb(255, 255, 255) 2px;
    background-color: hsla(0, 0%, 100%, 0.8);
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    margin: 15px 0 15px 0;
}

.button:hover {
    background-color: rgb(0, 255, 42);
    color: rgb(0, 0, 0);
}

a:visited {
    color: black;
}